@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 16px;
}



.btn {
  text-transform: capitalize;
  border: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
}
.btn-pink {
  background-color: #ffe8f1;
  color: #ff69a6;
}

.btn-blue {
  background-color: #ecf3ff;
  color: #68a3ff;
}
.nav{
    height: 5rem;
    background-color: #222;
    padding: 1rem 0;
}
.nav-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}
.nav-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;

}
.hero{
    background: linear-gradient(
        to right, 
        rgba(105,62,27,0.5),
        rgba(105,62,27,1)
    ),
    url('./coffffe.jpg') center/cover no-repeat;
    min-height: calc(100vh - 5rem);
}
.hero-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 5 rem 0;
    color: #fff;
}
.hero-center h1 {
    letter-spacing: 2 px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}
.hero-center p {
    margin-bottom:  1.5rem;
    max-width: 35rem;
}
.btn-hero{
    background: transparent;
    border: 1px solid #fff;
    color: #fff
}

